:root {
    --main-bg: #ffffff;
    --add-bg: #efefef;
    --main-text: #0f172a;
    --add-text: #94a5b7;
    --chart-bg: #efefef;
    --accent: #3b82f6;
    --shadow: rgb(59, 130, 246, 0.25);
    --svg: #585b5f;
    --light: "Inter Light";
    --regular: "Inter Regular";
    --medium: "Inter Medium";
    --semibold: "Inter SemiBold";
    --circle-radius: 120;
    --stroke-width: 20;
}

.dark {
    --main-bg: #121a2c;
    --add-bg: #1e2a44;
    --main-text: #f1f5f9;
    --add-text: #94a5b7;
    --accent: #3b82f6;
    --shadow: rgb(59, 130, 246, 0.25);
    --svg: #f1f5f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter Light";
    src: url("fonts/Inter_18pt-Light.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("fonts/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("fonts/Inter_18pt-SemiBold.ttf");
}

body {
    background-color: var(--main-bg);
    font-family: var(--regular), system-ui, "Segoe UI", Roboto, sans-serif;
    font-size: 20px;
    color: var(--main-text);
    line-height: 1.2;
}

.container {
    width: 100%;
    padding: 0 150px;
}

h2 {
    font-family: var(--semibold);
    font-size: 1.8em;
}

h3 {
    font-family: var(--regular);
    font-size: 1.8em;
}

h4 {
    font-family: var(--light);
    font-size: 1.2em;
}

section,
footer {
    margin-top: 60px;
}

.section__title {
    width: max-content;
    padding: 0 15px 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: var(--accent) 1px solid;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: var(--main-bg);
    border-bottom: var(--accent) 1px solid;
    box-shadow: 0 5px 15px 0 var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__date-and-theme {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__datetime {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__date {
    font-family: var(--light);
}

.header__weekday {
    color: var(--accent);
}

.header__theme-toggle {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__theme-toggle.--light-theme {
    background-color: #0f172a;
    border: #0f172a 1px solid;
}
.header__theme-toggle.--dark-theme {
    background-color: #ffffff;
    border: #ffffff 1px solid;
}

.header__toggle-dark-theme,
.header__toggle-light-theme {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__toggle-dark-theme {
    background-color: #0f172a;
}
.header__toggle-light-theme {
    background-color: #ffffff;
}

main {
    margin-top: 160px;
}

.sensors__cards {
    margin-top: 30px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    gap: 60px;
}

.sensors__card {
    padding: 30px;
    width: 500px;
    height: 100%;
    border: var(--accent) 1px solid;
    border-radius: 15px;
    transition: border-color 0.3s;
}

.sensors__card-head {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sensors__card-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: var(--accent) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensors__card-title {
    font-size: 1.2em;
}

.sensors__card-update {
    margin-top: 1px;
    font-family: var(--light);
    color: var(--add-text);
}

.sensors__card-update.--container {
    display: flex;
    gap: 10px;
}

.sensors__card-update-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--add-text);
    text-decoration: none;
}

.sensors__card-update-link:hover {
    border-bottom: var(--add-text) 1px solid;
}

.sensors__card.danger {
    border-color: #ef4444 !important;
}
.sensors__card.danger .sensors__card-value {
    color: #ef4444;
}

.sensor-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container {
    position: relative;
    flex-shrink: 0;
}

.progress-circle {
    transform: rotate(-90deg);
}

.progress-circle circle {
    fill: none;
}

.progress-bg {
    stroke: var(--chart-bg);
}

.progress-bar {
    stroke: var(--accent);
    stroke-linecap: round;
    transition: stroke-dashoffset 0.8s ease;
}

.circle-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;
}

.value {
    font-size: 3em;
    font-family: var(--semibold);
    color: var(--main-text);
}

.unit {
    font-size: 1em;
    font-family: var(--light);
    color: var(--main-text);
}

canvas {
    color: var(--main-text);
}

.chart__card {
    margin-top: 30px;
    width: 100%;
    height: 550px;
    aspect-ratio: 4 / 15;
    background: var(--main-bg);
    border: var(--accent) 1px solid;
    border-radius: 15px;
    padding: 40px 50px 30px 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    position: relative;
}

.api__cards {
    margin-top: 30px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: minmax(254px, auto);
    gap: 60px;
}

.api__card {
    padding: 30px;
    width: 500px;
    height: 100%;
    border: var(--accent) 1px solid;
    border-radius: 15px;
}

.api__card-head {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.api__card-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: var(--accent) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.api__card-icon-container svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.api__card-title {
    font-size: 1.2em;
}

.api__card-source {
    margin-top: 1px;
    font-family: var(--light);
    color: var(--add-text);
}

.currency-svg path {
    fill: var(--svg);
}

#currency-svg--green {
    fill: #02ab47;
}

.quote-svg path {
    fill: var(--main-text);
}

.api__card-input {
    width: 100%;
    height: 40px;
    border: var(--add-text) 1px solid;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.api__card-input-field {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 13px;
    background: transparent;
    font-family: var(--light);
    font-size: 0.8em;
    outline: none;
    color: var(--main-text);
}

.api__card-input-field::placeholder {
    color: var(--main-text);
}

.api__card-input-field:-moz-placeholder {
    color: var(--main-text);
}

.api__card-input-field::-moz-placeholder {
    color: var(--main-text);
}

.api__card-input-field:-ms-input-placeholder {
    color: var(--main-text);
}

.api__card-input-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--add-text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.api__card-temp {
    margin: 30px 0 0 5px;
    font-size: 1.8em;
    font-family: var(--semibold);
}

.api__card-currencys {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.api__card-currency {
    display: flex;
    align-items: center;
    gap: 40px;
}

.api__card-currency-name,
.api__card-currency-price {
    font-size: 1.2em;
}

.api__card-author {
    margin-top: 5px;
    text-align: right;
    color: var(--add-text);
}

footer {
    padding: 30px 0;
    border-top: var(--add-text) 1px solid;
}

.copyrights {
    text-align: center;
    font-family: var(--light);
    font-size: 0.8em;
    color: var(--add-text);
}

@media (max-width: 1024px) and (min-width: 320px) {
    body {
        font-size: 17px;
    }
    .container {
        padding: 0 50px;
    }
    header {
        height: 80px;
    }
    .header__logo {
        gap: 17px;
    }
    .header__logo-img {
        width: 50px;
        height: 50px;
    }
    .header__date-and-theme {
        gap: 42px;
    }
    main {
        margin-top: 122px;
    }
    section,
    footer {
        margin-top: 42px;
    }
    .sensors__title-img {
        width: 37px;
        height: 37px;
    }
    .section__title {
        width: fit-content;
        padding: 0 13px 10px 0;
        gap: 13px;
    }
    .section__title-text {
        text-align: center;
    }
    .sensors__cards {
        margin-top: 25px;
        grid-template-columns: repeat(2, auto);
        gap: 30px;
    }
    .sensors__card {
        padding: 26px;
        width: 447px;
    }
    .sensors__card-head {
        gap: 13px;
    }
    .sensors__card-icon-container {
        width: 45.5px;
        height: 45.5px;
    }
    .sensors__card-icon {
        width: 27.7px;
        height: 27.7px;
    }
    .chart__title-img {
        width: 34px;
        height: 34px;
    }
    .sensors__card-update img {
        width: 16px;
        height: 16px;
    }
    .chart__card {
        margin-top: 25px;
        height: 530px;
        padding: 28px 30px 20px 0;
    }
    .api__title-img {
        width: 30px;
        height: 30px;
    }
    .api__cards {
        margin-top: 25px;
        grid-template-columns: repeat(2, auto);
        gap: 30px;
    }
    .api__card {
        padding: 26px;
        width: 447px;
    }
    .api__card-head {
        gap: 13px;
    }
    .api__card-icon-container {
        width: 46px;
        height: 46px;
    }
    .api__card-icon {
        width: 27.7px;
        height: 27.7px;
    }
    footer {
        padding: 25px 0;
    }
    .circle-container {
        width: 223.5px;
        height: 223.5px;
    }
    .progress-bg,
    .progress-bar {
        r: 120;
        stroke-width: 16.79;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 13px;
    }
    .container {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        padding: 20px 0;
        height: 163px;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .header__logo {
        gap: 9px;
    }
    .header__logo-img {
        width: 30px;
        height: 30px;
    }
    .header__date-and-theme {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .header__theme-toggle {
        width: 60px;
        height: 30px;
        border-radius: 15px;
    }
    .header__toggle-dark-theme,
    .header__toggle-light-theme {
        width: 28px;
        height: 28px;
        border-radius: 15px;
    }
    main {
        margin-top: 190px;
    }
    section,
    footer {
        margin-top: 28px;
    }
    .sensors__title-img {
        width: 34px;
        height: 34px;
    }
    .section__title {
        padding: 0 6px 6px 0;
        gap: 9px;
    }
    .sensors__cards {
        margin-top: 20px;
        grid-template-columns: auto;
        gap: 15px;
    }
    .sensors__card {
        padding: 16px;
        width: 280px;
    }
    .sensors__card-head {
        gap: 9px;
    }
    .sensors__card-icon-container {
        width: 28px;
        height: 28px;
    }
    .sensors__card-icon {
        width: 17px;
        height: 17px;
    }
    .sensors__card-update img {
        width: 11px;
        height: 11px;
    }
    .circle-container {
        margin: -22px 0 -2px 0;
        width: 140px;
        height: 140px;
    }
    .progress-bg,
    .progress-bar {
        r: 120;
        stroke-width: 12;
    }
    .chart__title-img {
        width: 25px;
        height: 25px;
    }
    .api__title-img {
        width: 20px;
        height: 20px;
    }
    .api__cards {
        margin-top: 20px;
        grid-template-columns: auto;
        gap: 15px;
    }
    .api__card {
        padding: 16px;
        width: 280px;
    }
    .api__card-head {
        gap: 9px;
    }
    .api__card-icon-container {
        width: 37px;
        height: 37px;
    }
    .api__card-icon {
        width: 22px;
        height: 22px;
    }
    footer {
        padding: 15px 0;
    }
}

/* Адаптация SVG иконок в карточках API */
.api__card-icon-container svg {
    width: 30px;
    height: 30px;
}

.currency-svg path,
.quote-svg path {
    transition: fill 0.3s ease;
}

@media (max-width: 1024px) and (min-width: 321px) {
    .api__card-icon-container svg {
        width: 27.7px;
        height: 27.7px;
    }
}

@media (max-width: 320px) {
    .api__card-icon-container svg {
        width: 22px;
        height: 22px;
    }
}

/* Адаптация текста легенды графика */
@media (max-width: 1024px) and (min-width: 321px) {
    canvas {
        font-size: 17px;
    }

    /* Стили для легенды Chart.js */
    .chart__card canvas {
        font-size: 17px;
    }
}

@media (max-width: 320px) {
    canvas {
        font-size: 14px;
    }

    /* Стили для легенды Chart.js */
    .chart__card canvas {
        font-size: 14px;
    }

    /* Дополнительная настройка легенды графика на мобильных */
    .chart__card {
        padding: 20px 15px 15px 5px;
    }
}
